<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>480x640</key>
	<dict>
		<key>50%</key>
		<dict>
			<key>image-size</key>
			<string>{480.0,640.0}</string>
			<key>vignette</key>
			<string>vignette_100%_480x640.png</string>
			<key>screen</key>
			<string>screen_100%_480x640.png</string>
			<key>border</key>
			<string>border_100%_480x640.png</string>
		</dict>
		<key>100%</key>
		<dict>
			<key>image-size</key>
			<string>{480.0,640.0}</string>
			<key>vignette</key>
			<string>vignette_100%_480x640.png</string>
			<key>screen</key>
			<string>screen_100%_480x640.png</string>
			<key>border</key>
			<string>border_100%_480x640.png</string>
		</dict>
	</dict>
	<key>960x1280</key>
	<dict>
		<key>50%</key>
		<dict>
			<key>image-size</key>
			<string>{960.0,1280.0}</string>
			<key>vignette</key>
			<string>vignette_100%_960x1280.png</string>
			<key>screen</key>
			<string>screen_100%_960x1280.png</string>
			<key>border</key>
			<string>border_100%_960x1280.png</string>
		</dict>
		<key>100%</key>
		<dict>
			<key>image-size</key>
			<string>{960.0,1280.0}</string>
			<key>vignette</key>
			<string>vignette_100%_960x1280.png</string>
			<key>screen</key>
			<string>screen_100%_960x1280.png</string>
			<key>border</key>
			<string>border_100%_960x1280.png</string>
		</dict>
	</dict>
	<key>720x960</key>
	<dict>
		<key>50%</key>
		<dict>
			<key>image-size</key>
			<string>{720.0,960.0}</string>
			<key>vignette</key>
			<string>vignette_100%_720x960.png</string>
			<key>screen</key>
			<string>screen_100%_720x960.png</string>
			<key>border</key>
			<string>border_100%_720x960.png</string>
		</dict>
		<key>100%</key>
		<dict>
			<key>image-size</key>
			<string>{720.0,960.0}</string>
			<key>vignette</key>
			<string>vignette_100%_720x960.png</string>
			<key>screen</key>
			<string>screen_100%_720x960.png</string>
			<key>border</key>
			<string>border_100%_720x960.png</string>
		</dict>
	</dict>
	<key>1536x2048</key>
	<dict>
		<key>50%</key>
		<dict>
			<key>image-size</key>
			<string>{768.0,1024.0}</string>
			<key>vignette</key>
			<string>vignette_50%_1536x2048.png</string>
			<key>screen</key>
			<string>screen_50%_1536x2048.png</string>
			<key>border</key>
			<string>border_50%_1536x2048.png</string>
		</dict>
		<key>100%</key>
		<dict>
			<key>image-size</key>
			<string>{1536.0,2048.0}</string>
			<key>vignette</key>
			<string>vignette_100%_1536x2048.png</string>
			<key>screen</key>
			<string>screen_100%_1536x2048.png</string>
			<key>border</key>
			<string>border_100%_1536x2048.png</string>
		</dict>
	</dict>
	<key>1936x2592</key>
	<dict>
		<key>50%</key>
		<dict>
			<key>image-size</key>
			<string>{968.0,1296.0}</string>
			<key>vignette</key>
			<string>vignette_50%_1936x2592.png</string>
			<key>screen</key>
			<string>screen_50%_1936x2592.png</string>
			<key>border</key>
			<string>border_50%_1936x2592.png</string>
		</dict>
		<key>100%</key>
		<dict>
			<key>image-size</key>
			<string>{1936.0,2592.0}</string>
			<key>vignette</key>
			<string>vignette_100%_1936x2592.png</string>
			<key>screen</key>
			<string>screen_100%_1936x2592.png</string>
			<key>border</key>
			<string>border_100%_1936x2592.png</string>
		</dict>
	</dict>
	<key>2448x3264</key>
	<dict>
		<key>50%</key>
		<dict>
			<key>image-size</key>
			<string>{1224.0,1632.0}</string>
			<key>vignette</key>
			<string>vignette_50%_2448x3264.png</string>
			<key>screen</key>
			<string>screen_50%_2448x3264.png</string>
			<key>border</key>
			<string>border_50%_2448x3264.png</string>
		</dict>
		<key>100%</key>
		<dict>
			<key>image-size</key>
			<string>{2448.0,3264.0}</string>
			<key>vignette</key>
			<string>vignette_100%_2448x3264.png</string>
			<key>screen</key>
			<string>screen_100%_2448x3264.png</string>
			<key>border</key>
			<string>border_100%_2448x3264.png</string>
		</dict>
	</dict>
</dict>
</plist>
